* {


  box-sizing: border-box;
}

:root {
  --primary: #008080;

  --spacing: 0.25rem;

  --variant-textColor: #008080 !important;
  --variant-outlinedColor: #008080 !important;
  --variant-outlinedBorder: rgba(25, 118, 210, 0.5);
  --variant-containedColor: #fff;
  --variant-containedBg: #008080 !important;

}

.loginbg {
  background: linear-gradient(125deg, #f5fffff7 67%, #008080 25%);
  min-height: 100vh;
}

button {
  cursor: pointer;
}